@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
} */
/* .div2 {
  background-color: rgba(242, 250, 255, 1);
  /* opacity: 5%; 
} */

.div {
  background: url("./Assets/bgImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .dark > .div path {
  fill: black;
} */
/* .div path {
  fill: aqua !important;
} */
.footer {
  background: url("./Assets/footerImage.svg");
  mask: red;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right;
  background-size: contain;
  /* background-origin: border-box; */
}
@media screen and (max-width: 640px) {
  #navLinks {
    animation: translate 0.5s linear;
  }
  .footer {
    background: none;
  }
}
@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* .one {
  animation: eff 0.5s linear;
}
@keyframes eff {
  from {
    fill: #1b1b1b;
    width: 24px;
  }
  to {
    fill: #aeaeae;
    width: 50px;
  }
} */
